<div class="container">
  <div class="dashboard">
    <div class="card card1">
      <div class="label" style="color:Brown">CONFIRMED</div>
      <div class="value">{{ totalConfirmed }}</div>
    </div>
    <div class="card card1">
      <div class="label" style="color:orangered">ACTIVE</div>
      <div class="value">{{ totalActive }}</div>
    </div>
    <div class="card card2">
      <div class="label" style="color:green">RECOVERED</div>
      <div class="value">{{ totalRecovered }}</div>
    </div>
    <div class="card card2">
      <div class="label" style="color:red">DEATH</div>
      <div class="value">{{ totalDeaths }}</div>
    </div>
  </div>
</div>
